.jumbotron {
    background-image: url(../images//new-year-s-eve-sparkler-sparks-38196.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: white;
}